<table class="table table-condensed table-bordered table-striped">
    <tr>
        <th>名称</th>
        <th class="col-xs-2">用户</th>
        <th class="col-xs-2">完成的时间</th>
        <th>状态</th>
        <th ng-if="auth.user.user_type" class="col-xs-2">操作</th>
    </tr>
   <tr ng-repeat="obj in resource.items">
       <td><a ng-href="{[CBS_URL]}cbs/imagebuildinfo?buildID={[obj.build_id]}">{[obj.image_name]}_{[obj.version]}_{[obj.arch]}</a></td>
        <td>{[obj.owner_name]}</td>
        <td>{[obj.completion_time.split('.')[0]]}</td>
        <td></td>
        <td ng-if="auth.user.user_type" ><button ng-click="pxe(obj)" ng-disabled="obj.loading" type="button" class="pass btn btn-xs btn-primary">{[obj.loading?"提交中...":"PXE"]}</button></td>
    </tr>
</table>



<div ng-show="resource&&resource.total_count>=0" class="text-right">
    <div class="pull-left">
        <span>第 <b>{[resource.start]}</b>–<b>{[resource.offset>resource.total_count?resource.total_count:resource.offset]}</b> 个，共 <b>{[resource.total_count]}</b> 个</span>
    </div>
      <pagination
              total-items="resource.total_count"
              ng-model="currentPage"
              items-per-page="resource.limit"
              max-size="5"
              class="pagination-sm"
              boundary-links="true"
              ng-change="resource.goPage(true, currentPage)"
              rotate="false"
              num-pages="numPages"></pagination>
</div>
